<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>191931781988-fkai8kp66fmbtkfuuic84q71ud1f5j5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191931781988-fkai8kp66fmbtkfuuic84q71ud1f5j5t</string>
	<key>API_KEY</key>
	<string>AIzaSyAZHauqmMuUxxrIzSmD_xrFcm8eClNyf9U</string>
	<key>GCM_SENDER_ID</key>
	<string>191931781988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utkarsh.talkie</string>
	<key>PROJECT_ID</key>
	<string>talkie-742ea</string>
	<key>STORAGE_BUCKET</key>
	<string>talkie-742ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191931781988:ios:669ad28f2d77d4a8</string>
	<key>DATABASE_URL</key>
	<string>https://talkie-742ea.firebaseio.com</string>
</dict>
</plist>